{% extends 'base.html.twig' %}

{% block title %}
    Demo circle
{% endblock %}

{% block body %}
    <h1>CIRCLE</h1>
    {# Un comentario twig #}
    <!-- Un comentario Html -->
    <hr>
    {% for item in items %}
        <h4>Radio: {{ item.radio }}, Area: {{ item.area }}</h4>
    {% endfor %}

    <h3>
        {# mostrar la variable de entorno #}
        {{ app.environment }}
    </h3>

{% endblock %}